doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Password Generator
  body
    .wrapper
      .title
        h1 Generation random code string
      .box.topBox
        h3.subTitle Enter the length of the string
        .topBox__right
          input#strLength(type='text/number', placeholder='number', title='Enter the length of the string')
          label.check
            input#addSymb.check_elem(type='checkbox')
            .check_text Add symbols
      .box.middleBox
        button#generate.button(title='Generate a new string') Generate
      .resultBox
        p#result(title='Code string')
      .box.downBox
        button#copyStr.button(title='copy to clipboard') Copy string