doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Password Generator
  body
    .wrapper
      .box.title
        h1 Password Generator
      .box
        h3.subTitle Enter password length:
        input#strLength(type='text/number', placeholder='number', title='Enter the length of the string')
        .error Please, fill the length
      .box
        h3.subTitle Symbols:
        label
          input#addSymb.check_elem(type='checkbox')
          .check_text no
      .box.generate
        button#generate.button(title='Generate a new string') Generate
      .box.result
        p#result(title='Code string')
      .box.generate
        button#copyStr.button(title='copy to clipboard') Copy password