//colors
$buttonBGColor: #FFFFE0;
$BGColor: #FFFAFA;
$mainBlue: #0000CD;
$hoverBlue: #1E90FF;
$borderBlue: #1E90FF;
$activeBlue: #4169E1;

//vars
$borderRadius: 4px;


//resolutions
$desktop: 1280px;
$laptop: 980px;
$tablet: 768px;
$smartphone: 480px;
$phone: 320px;