.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    height: 90%;
    background-color: $BGColor;
    border: 5px solid $borderBlue;
    border-radius: $borderRadius;
}

.box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: 5%;
    width: 50%;
    @include laptop {
        width: 95%;
    }
}

.title {
    justify-content: center;
    @include smartphone {
        margin-bottom: 40px;
    }
}

.subTitle {
    margin-right: 3%;
    text-align: start;
}

.generate {
    justify-content: center;
    height: 10%;
}

#strLength {
    width: 100px;
    text-align: center;
    font-size: 20px;
    color: $mainBlue;
    background-color: $buttonBGColor;
    border: 2px groove $borderBlue;
    border-radius: $borderRadius;
}

.error {
    display: none;
    position: absolute;
    top: 43px;
    left: 262px;
    background-color: $error;
    color: $BGColor;
    padding: 3px 5px;
    border-radius: $borderRadius;
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: -8px;
        left: 40px;
        width: 15px;
        height: 15px;
        transform: rotate(45deg);
        background-color: inherit;
    }
}

.button, .check_text {
    background-color: $buttonBGColor;
    border: 2px groove $borderBlue;
    border-radius: $borderRadius;
    color: $mainBlue;
    font-size: 20px;
    cursor: pointer;
    transition: .5s;
    outline: none;
    min-width: 100px;
    &:hover {
        background-color: $hoverBlue;
        border-radius: $borderRadius;
    }
    &:active {
        background-color: $activeBlue;
        color: $BGColor;
    }
}

.check_elem {
    position: absolute;
    left: -999px;
    top: 0;
}

.check_elem:checked+.check_text {
    background-color: $activeBlue;
    color: $BGColor;
}

.result {
    justify-content: center;
    width: 96%;
    min-height: 33px;
}

#generate {
    font-size: 32px;
}

#result {
    word-break: break-all;
}

#copyStr {
    display: none;
}