.wrapper {
  width: 90%;
  height: 90%;
  background-color: $BGColor;
  border: 5px solid #1E90FF;
  border-radius: 10px;
}

.topBox {
  color: $mainBlue;
  margin-top: 40px;
}

#strLength {
  width: 100px;
  color: $mainBlue;
  text-align: center;
  font-size: 20px;
  background-color: $buttonBGColor;
  border: 2px groove #1E90FF;
  border-radius: 4px;
}

.ButtonG {
  margin-top: 30px;
  margin-bottom: 30px;
  color: $mainBlue;
  background-color: $buttonBGColor;
  border: 2px groove #1E90FF;
  border-radius: 4px;
  font-size: 20px;
}

.ButtonA {
  margin-left: 30px;
  color: $mainBlue;
  background-color: $buttonBGColor;
  border: 2px groove #1E90FF;
  border-radius: 4px;
  font-size: 20px;
}

.ButtonA:active {
  background-color: #4169E1;
  font-weight: bold;
  color: $BGColor;
  border-radius: 4px;
}

.ButtonG:hover,
.ButtonA:hover,
.check_text:hover {
  background-color: #1E90FF;
  font-weight: bold;
  border-radius: 4px;
}

.ButtonG:active {
  background-color: #4169E1;
  font-weight: bold;
  color: $BGColor;
  border-radius: 4px;
}

#result {
  font-size: 24px;
  color: $mainBlue;
  margin-bottom: 40px;
  word-wrap: break-word;
}

.resultBox {
  color: #1E90FF;
  margin-top: 0px;
}

.check {
  display: inline-block;
}

.check_elem {
  position: absolute;
  left: -999px;
  top: 0;
}

.check_text {
  width: 130px;
  margin-top: 30px;
  margin-left: 30px;
  position: absolute;
  color: $mainBlue;
  background-color: $buttonBGColor;
  border: 2px groove #1E90FF;
  border-radius: 4px;
  font-size: 20px;
}

.check_elem:checked+.check_text {
  background-color: #4169E1;
  font-weight: bold;
  color: $BGColor;
  border-radius: 4px;
}